@model IEnumerable<Bonsaii.Models.ParamCodes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>操作</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodeMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
