@model Bonsaii.Models.StaffArchive

@{
    ViewBag.Title = "Create";
}

<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/Scripts/bootstrap3-typeahead.min.js"></script>
<h2>新建离职档案</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>StaffArchive</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BillTypeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillTypeNumber, new { htmlAttributes = new { @class = "form-control",@dataprovide="typeahead"} })
                @Html.ValidationMessageFor(model => model.BillTypeNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillTypeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillTypeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillNumber, new { htmlAttributes = new { @class = "form-control",@dataprovider="typeahead"} })
                @Html.ValidationMessageFor(model => model.BillNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StaffNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StaffNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StaffNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StaffName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StaffName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StaffName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeaveDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeaveDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeaveDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReApplyDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReApplyDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReApplyDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Remark, 4, 120, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<script>
    /*员工工号搜索*/
    $('#StaffNumber').typeahead({
        source:
            function (query, process) {
                $.ajax({
                    url: '/StaffArchive/StaffNumberSearch',
                    type: 'POST',
                    data: { number: query },
                    success: function (data) {
                        if (data.success === true) {
                            /*下拉菜单*/
                            process(data.data);
                        }
                    }
                })
            },
    });

    /*实现自动填充员工名字和离职日期*/
    function sendData() {
        var checkText = $('#StaffNumber').find("option:selected").text();
        var checkValue = $('#StaffNumber').val();
        checkValue = checkValue.split(" ")[0];
        //console.info(checkValue);
        $("#StaffNumber").val(checkValue);
        $.ajax({
            url: '/StaffArchive/SendData',
            data: { StaffNumber: checkValue },
            type: 'POST',
            success: function (result) {
                for (var x in result) {
                    if (x == "LeaveDate")
                    {
                        var daytimeMilliseconds = parseInt(result[x].replace(/\D/igm, ""));
                        var daytime = new Date(daytimeMilliseconds);
                        result[x] = daytime.getFullYear().toString() + "-" + (daytime.getMonth() + 1).toString() + "-"
                        + daytime.getDate().toString();
                        var tmp = "#" + x;
                        //必须用val方式
                        $(tmp).val(result[x]);
                    }
                    else
                    {
                        var tmp = "#" + x;
                        $(tmp).attr('value', result[x]);
                    }
                }
            },
        });
    }

    $('#StaffNumber').change(function () {

        if ($('#StaffNumber').val() == "") {
            $(':input').val("");
        }
        else
            sendData();
    });

    /*日期插件*/
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        format: 'yyyy/mm/dd',
        weekStart: 0,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    /*单据类别选择 */
    $('#BillTypeNumber').typeahead
    ({
        source: function (query, process) {
            $.ajax({
                url: '/StaffArchive/BillTypeNumberSearch',
                type: 'POST',
                data: { number: query },
                success: function (data) {
                    if (data.success == true) {
                        process(data.data);
                    }
                }
            })
        },
    });

    /*实现自动填充单据名称字段*/
    function sendBillTypeNumber() {
        var checkText = $('#BillTypeNumber').find("option:selected").text();
        var checkValue = $('#BillTypeNumber').val();
        checkValue = checkValue.split(" ")[0];
        $("#BillTypeNumber").val(checkValue);
        //console.info(checkValue);
        $.ajax({
            url: '/StaffArchive/SendBillTypeNumber',
            data: { BillTypeNumber: checkValue },
            type: 'POST',
            success: function (result) {
                for (var x in result) {
                    var tmp = "#" + x;//  result[x]是Value值
                    // 必须用attr方式
                    $(tmp).attr('value', result[x]);
                    //  console.info(result[x]);
                }
            },
        });
    }


    $('#BillTypeNumber').change(function () {
        //  var tmp = $('#StaffNumber').val();
        if ($('#BillTypeNumber').val() == "") {
            $(':input').val("");
        }
        else
            sendBillTypeNumber();
    });

</script>
