@model Bonsaii.Models.StaffArchive

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StaffArchive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillTypeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillTypeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReApplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReApplyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
