@model Bonsaii.Models.UserPasswordInfo
@{
    ViewBag.Title = "忘记了密码?第一步：填写企业信息";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<h2>@ViewBag.Title。</h2>

@using (Html.BeginForm("ForgotPasswordApply", "Account", FormMethod.Post,
  new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CompanyId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CompanyId, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CompanyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TelNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.TelNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TelNumber, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.BusinessLicense, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.BusinessLicense != null)
            {     <div style="float:left;margin-right:20px">
                    <img width="75" height="75" src="@Url.Action("GetImage", "Account",new { Model.CompanyId})" />
                </div>
            }
            @*else{
                    <p>no picture</p>
                }*@
                <input type="file" name="image" id="file0"/><br><img width="400" height="300" src="" id="img0">
                @*@Html.ValidationMessageFor(m => m.BusinessLicense, "", new { @class = "text-danger" })*@
        </div>


    </div>

    @*<div class="form-group">
        <label class="control-label col-md-2" for="Logo"></label>
        <div class="col-md-10">
            <input type="file" name="image" />
        </div>
    </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="提交申请" class="btn btn-default" />
        </div>
    </div>

</div>

    }

    @section Scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    }
<script>
    $("#file0").change(function () {
        var objUrl = getObjectURL(this.files[0]);
        console.log("objUrl = " + objUrl);
        if (objUrl) {
            $("#img0").attr("src", objUrl);
        }
    });
    //建立一個可存取到該file的url
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
</script>