@model Bonsaii.Models.StaffSkill

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>StaffSkill</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.BillType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StaffNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StaffNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StaffNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StaffName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StaffName, new { htmlAttributes = new { @class = "form-control" ,@disabled="disabled"} })
                @Html.ValidationMessageFor(model => model.StaffName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkillNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SkillNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkillName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.SkillName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillGrade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkillGrade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SkillGrade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillRemark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkillRemark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SkillRemark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $(function () {
        $("#StaffNumber").change(function () {
            var tableid = $(this).val();
            //$("#tableName").val(tableid);
            //$.get("./SearchStaff", { staffNumber: tableid }, function (data) {
            //    alert(data);
            //    $("#StaffName").val(data);
            //});
            $.ajax({
                url: "./SearchStaff",
                type: 'get',
                data: { staffNumber: tableid },
                success: (function (data) {
                    //alert(data[0].text);
                    console.info(data);
                    if (data[0].text != null && "" != data[0].text) {
                        //$("#StaffName").val(data[0].text);//传入的值，无法进行插入操作。
                        $("#StaffName").attr("value", data[0].text);//可以传入真是的值。
                    }
                    else {

                        alert("抱歉，该工号不存在！");
                        $("#StaffNumber").val("");
                        $("#StaffName").val("");
                    }

                }),
                error: function () {
                    alert("抱歉，该工号不存在！");
                },

            });
        });
        $("#SkillNumber").change(function () {
            var tableid = $(this).val();
            //$("#tableName").val(tableid);
            //$.get("./SearchStaff", { staffNumber: tableid }, function (data) {
            //    alert(data);
            //    $("#StaffName").val(data);
            //});
            $.ajax({
                url: "./SearchSkill",
                type: 'get',
                data: { skillNumber: tableid },
                success: (function (data) {
                    //alert(data[0].text);
                    console.info(data);
                    if (data[0].text != null && "" != data[0].text) {
                        // $("#SkillName").val(data[0].text);//传入的值，无法进行插入操作。
                        $("#SkillName").attr("value", data[0].text);//可以传入真是的值。
                    }
                    else {

                        alert("抱歉，该技能号不存在！");
                        $("#SkillNumber").val("");
                        $("#SkillNumber").val("");
                    }

                }),
                error: function () {
                    alert("抱歉，该技能号不存在！");
                },

            });
        });
    });
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
