@*请注意这里不要像Index那样使用IEnumerable<Bonsaii.Models.DepartmentViewModel>*@
@model Bonsaii.Models.DepartmentViewModel

@{
        ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
        <h4>Department</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParentDepartmentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParentDepartmentName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StaffSize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffSize)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Remark)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Remark)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Number }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
